<!doctype html>
<html lang="en">
    <header>
        <title>

        </title>
    </header>
</html>
<body>
    <main>
        <div>

            <h1>{{ list_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' list.id %}">Edit</a>
            </p>


            <h2>Tasks</h2>
            <table>
                <thead>
                  <tr>
                    <th>Task</th>
                    <th>Due date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in list_detail.items.all %}
                  <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
