<!doctype html>
<html lang="en">
    <header>
        <title>

        </title>
    </header>
</html>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
            <a href="{% url 'todo_list_create' %}">Create a New List</a>
            <a href="{% url 'todo_list_update' list.id %}">Edit</a>

            </p>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in todolist %}
                  <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a>
                    </td>
                    <td>{{ item.items.all|length }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
