<!doctype html>
<html lang="en">
    <header>
        <title>

        </title>
    </header>
</html>
<body>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button content="create">Update</button>
            </form>

        </div>
    </main>
</body>
